<!-- Header details -->
<div class="container-fluid mt-2">
  <!-- <div class="bckimg"> -->
      <div class="card cardmenu bckimg" style="border: 0px;">
          <div class="card-body">
            <div class="row">
                <div class="col">
                  <div class="card body-details" style="border: 0px;">
                    <div class="card-body">
                      <img src="../../assets/images/Aster_logo_white.png" alt="logo not found" id="logo">
                      <p class="paediatric">
                        ADULT & PAEDIATRIC BONE MARROW TRANSPLANT PROGRAMME
                      </p>
                      <p class="haematology">
                        Haematology | Oncology | Immunology
                      </p>
                      <button type="button" class="btn btn-danger book-appointment">Book An Appointment</button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card enquiry" style="border: 0px;">
                    <div class="card-body">
                      <label class="enquire">Enquire now</label>
                      <input type="text" class="form-control name my-1" placeholder="Name">
                      <input type="text" class="form-control email my-1" placeholder="Email ID">
                      <input type="text" class="form-control phone my-1" placeholder="Phone Number">
                      <textarea class="form-control message my-1" placeholder="Your message"></textarea>
                      <button type="button" class="btn btn-danger submit">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  <!-- </div> -->

  <!-- Bone Marrow -->
  <div class="card mt-5" style="border: 0px;">
      <div class="card-body">
    <div class="row">
      <div class="col-1"></div>
      <div class="col mx-5">
        <img src="../../assets/images/bone.png" alt="logo not found" id="bone-marrow-img">
      </div>
      <!-- <div class="col-1"></div> -->
      <div class="col">
        <p id="bone-marrow">Bone Marrow Transplant (BMT) better known as haematopoietic stem cell transplant(HSCT) as
          bone marrow cells are transplanted</p>
        <p class="replacement mt-2">Replacement of diseased or defective marrow with marrow from a healthy donor</p>
        <hr class="b-marrow">
        <p class="medicines">Medicines and in certain situations radiotherapy as well is given to get rid of diseased
          marrow and bone marrow cells from healthy donor is given to replace it.</p>
        <hr class="b-marrow">
        <p class="autologous">IN autologous bone marrow transplant, high dose chemotherapy is given to kill cancer cells
          and child own marrow cells are given back</p>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>

  <!-- doctors -->
  <div>
    <p class="doctors">Doctors</p>
    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        <div class="card row1-doc">
          <div class="card-body">
            <p class="pediatric">Pediatric BMT</p>
            <img src="../../assets/images/Bitmap Copy.png" alt="not found" class="doc-img">
            <p class="dr-vijay-agarwal">Dr. Vijay Agarwal</p>
            <p class="md-phd">MD, MRCP, PhD,CCT</p>
            <p class="md-phd">Lead & Sr. Consultant - Medical Oncology & Haematology</p>

            <hr class="line3">

            <p class="dr-agarwal">Dr. Vijay Agarwal is a Senior Consultant Medical Oncologist with over 12 years of
              experience in Oncology.
              Dr. Agarwal has been practising Medical Oncology since 2004. </p>
            <div class="text-center">
              <button type="button" class="btn btn-default primary">Know More</button>
            </div>

            <hr class="line1-hr">

            <img src="../../assets/images/Bitmap Copy.png" alt="not found" class="doc-img">
            <p class="dr-vijay-agarwal">Dr. Vijay Agarwal</p>
            <p class="md-phd">MD, MRCP, PhD,CCT</p>
            <p class="md-phd">Lead & Sr. Consultant - Medical Oncology & Haematology</p>

            <hr class="line3">

            <p class="dr-agarwal">Dr. Vijay Agarwal is a Senior Consultant Medical Oncologist with over 12 years of
              experience in Oncology.
              Dr. Agarwal has been practising Medical Oncology since 2004. </p>
            <div class="text-center">
              <button type="button" class="btn btn-default primary">Know More</button>
            </div>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card row2-doc">
          <div class="card-body">
            <p class="pediatric">Adult BMT</p>
            <img src="../../assets/images/Bitmap Copy.png" alt="not found" class="doc-img">
            <p class="dr-vijay-agarwal">Dr. Vijay Agarwal</p>
            <p class="md-phd">MD, MRCP, PhD,CCT</p>
            <p class="md-phd">Lead & Sr. Consultant - Medical Oncology & Haematology</p>

            <hr class="line3">

            <p class="dr-agarwal">Dr. Vijay Agarwal is a Senior Consultant Medical Oncologist with over 12 years of
              experience in Oncology.
              Dr. Agarwal has been practising Medical Oncology since 2004. </p>
            <div class="text-center">
              <button type="button" class="btn btn-default primary">Know More</button>
            </div>
            <hr class="line1-hr">

            <img src="../../assets/images/Bitmap Copy.png" alt="not found" class="doc-img">
            <p class="dr-vijay-agarwal">Dr. Vijay Agarwal</p>
            <p class="md-phd">MD, MRCP, PhD,CCT</p>
            <p class="md-phd">Lead & Sr. Consultant - Medical Oncology & Haematology</p>

            <hr class="line3">

            <p class="dr-agarwal">Dr. Vijay Agarwal is a Senior Consultant Medical Oncologist with over 12 years of
              experience in Oncology.
              Dr. Agarwal has been practising Medical Oncology since 2004. </p>
            <div class="text-center">
              <button type="button" class="btn btn-default primary">Know More</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-2"></div>

    </div>
  </div>

  <!-- types of bone marrow -->
  <div class="mt-3">
    <p class="what-are-types">What are the types of Bone Marrow Transplant?</p>
    <div class="row">
      <div class="col">
    <ul class="list">
      <li class="plus">Autologous Bone Marrow Transplant - Marrow cells are collected from the patient’s own body and
        transfused back
        after high dose chemotherapy.</li>
      <li class="plus">Allogenic Bone Marrow Transplant (Matched Sibling Donor) – Replacement of diseased or defective
        marrow with
        marrow from a genetically (HLA) matched sibling donor.</li>
      <li class="plus"> Allogenic Bone Marrow Transplant (Matched Unrelated Donor) – Replacement of diseased or
        defective marrow with
        marrow from a genetically (HLA) matched donor obtained from bone marrow registries in India and abroad.</li>
      <li class="plus">Haplo-Identical Bone Marrow Transplant - Replacement of diseased or defective marrow with marrow
        from the
        parent.</li>
      <li class="plus">Umbilical cord Bone Marrow Transplant - Replacement of diseased or defective marrow with marrow
        from a
        genetically (HLA) matched umbilical cord donor obtained from umbilical cord registries in India and abroad.</li>
    </ul>
    </div>
  </div>
  </div>

  <!-- warning signs -->
  <div>
    <p class="the-warning-signs-of">The warning signs of Immune deficiency</p>
    <div class="row">
      <div class="col">
        <div class="card card-content">
          <div class="card-body">
            <img src="../../assets/images/contact.png" alt="not found">
            <p class="war-sign">Failure to thrive – not gaining weight and height as per the age norms</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-content">
          <div class="card-body">
            <img src="../../assets/images/bed-person.png" alt="not found">
            <p class="war-sign">Infections warranting multiple hospitalizations</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-content">
          <div class="card-body">
            <img src="../../assets/images/downward-hand.png" alt="not found">
            <p class="war-sign">Requirement of intravenous antibiotics to clear infections</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card  card-content">
          <div class="card-body">
            <img src="../../assets/images/lung.png" alt="not found">
            <p class="war-sign">2 or more episodes of pneumonia</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card card-content mt-3">
          <div class="card-body">
            <img src="../../assets/images/baby.png" alt="not found">
            <p class="war-sign">Family history of death of children at young age due to immune deficiency </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-content mt-3">
          <div class="card-body">
            <img src="../../assets/images/person.png" alt="not found">
            <p class="war-sign">Repeated episodes of diarrhea</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-content mt-3">
          <div class="card-body">
            <img src="../../assets/images/nose.png" alt="not found">
            <p class="war-sign">2 or more episodes of sinus infections within a year</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-content mt-3">
          <div class="card-body">
            <img src="../../assets/images/ear.png" alt="not found">
            <p class="war-sign">2 or more episodes of ear discharge</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card card-content mt-3">
          <div class="card-body">
            <img src="../../assets/images/hand.png" alt="not found">
            <p class="war-sign">Repeated skin infections</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-content mt-3">
          <div class="card-body">
            <img src="../../assets/images/liver.png" alt="not found">
            <p>Repeated abscess formation (liver abscess, brain abscess)</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>

  <!-- accordians -->
  <div class="mt-4">
    <div class="row">
      <div class="col">
        <div class="accordion" id="accordionExample">
          <div class="card card1">
            <h4 class="card-head" id="headingOne">
              <h5 class="accordian1" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                What are the conditions that requireBone Marrow Transplant?
              </h5>
              <hr class="accordion-content">
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list">
                  <li class="tick">
                    BMT is the treatment of choice for blood disorders like Thalassemia, Sickle Cell anemia, bone marrow
                    failure syndromes like Aplastic anemia, serious immune deficiencies and certain genetic metabolic
                    disorders.
                  </li>
                  <li class="tick">
                    It is also used to treat high risk cancers like some cases of Acute Lymphoblastic Leukemia, Acute
                    Myeloid
                    Leukemia, Multiple Myeloma and solid tumours like Neuroblastoma, Ewings Sarcoma and certain relapsed
                    cancers like Lymphomas
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card card1">
            <h4 class="card-head" id="headingTwo">
              <h5 class="accordian1" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Which are the hematological diseases that may benefit from bone marrow transplants?
              </h5>
              <hr class="accordion-content">
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li>
                    BMT is the treatment of choice for blood disorders like Thalassemia, Sickle Cell anemia, bone marrow
                    failure syndromes like Aplastic anemia, serious immune deficiencies and certain genetic metabolic
                    disorders.
                  </li>
                  <li>
                    It is also used to treat high risk cancers like some cases of Acute Lymphoblastic Leukemia, Acute
                    Myeloid
                    Leukemia, Multiple Myeloma and solid tumours like Neuroblastoma, Ewings Sarcoma and certain relapsed
                    cancers like Lymphomas
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card card1">
            <h4 class="card-head" id="headingThree">
              <h5 class="accordian1" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                Which are the Cancers that may benefit from bone marrow transplants?
              </h5>
              <hr class="accordion-content">
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li>
                    BMT is the treatment of choice for blood disorders like Thalassemia, Sickle Cell anemia, bone marrow
                    failure syndromes like Aplastic anemia, serious immune deficiencies and certain genetic metabolic
                    disorders.
                  </li>
                  <li>
                    It is also used to treat high risk cancers like some cases of Acute Lymphoblastic Leukemia, Acute
                    Myeloid
                    Leukemia, Multiple Myeloma and solid tumours like Neuroblastoma, Ewings Sarcoma and certain relapsed
                    cancers like Lymphomas
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card card1">
            <h4 class="card-head" id="headingfour">
              <h5 class="accordian1" type="button" data-toggle="collapse" data-target="#collapsefour"
                aria-expanded="false" aria-controls="collapsefour">
                Do bone marrow failure syndromes require BMT?
              </h5>
              <hr class="accordion-content">
            </h4>
            <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
              data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li>
                    BMT is the treatment of choice for blood disorders like Thalassemia, Sickle Cell anemia, bone marrow
                    failure syndromes like Aplastic anemia, serious immune deficiencies and certain genetic metabolic
                    disorders.
                  </li>
                  <li>
                    It is also used to treat high risk cancers like some cases of Acute Lymphoblastic Leukemia, Acute
                    Myeloid
                    Leukemia, Multiple Myeloma and solid tumours like Neuroblastoma, Ewings Sarcoma and certain relapsed
                    cancers like Lymphomas
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card card1">
            <h4 class="card-head" id="headingfive">
              <h5 class="accordian1" type="button" data-toggle="collapse" data-target="#collapsefive"
                aria-expanded="false" aria-controls="collapsefive">
                What are Primary Immune Deficiency diseases ?
              </h5>
              <hr class="accordion-content">
            </h4>
            <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
              data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li>
                    BMT is the treatment of choice for blood disorders like Thalassemia, Sickle Cell anemia, bone marrow
                    failure syndromes like Aplastic anemia, serious immune deficiencies and certain genetic metabolic
                    disorders.
                  </li>
                  <li>
                    It is also used to treat high risk cancers like some cases of Acute Lymphoblastic Leukemia, Acute
                    Myeloid
                    Leukemia, Multiple Myeloma and solid tumours like Neuroblastoma, Ewings Sarcoma and certain relapsed
                    cancers like Lymphomas
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card card1">
            <h4 class="card-head" id="headingsix">
              <h5 class="accordian1" type="button" data-toggle="collapse" data-target="#collapsesix"
                aria-expanded="false" aria-controls="collapsesix">
                Which are the immune deficiencies that warrant BMT?
              </h5>
              <hr class="accordion-content">
            </h4>
            <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix"
              data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li>
                    BMT is the treatment of choice for blood disorders like Thalassemia, Sickle Cell anemia, bone marrow
                    failure syndromes like Aplastic anemia, serious immune deficiencies and certain genetic metabolic
                    disorders.
                  </li>
                  <li>
                    It is also used to treat high risk cancers like some cases of Acute Lymphoblastic Leukemia, Acute
                    Myeloid
                    Leukemia, Multiple Myeloma and solid tumours like Neuroblastoma, Ewings Sarcoma and certain relapsed
                    cancers like Lymphomas
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card card1">
            <h4 class="card-head" id="headingseven">
              <h5 class="accordian1" type="button" data-toggle="collapse" data-target="#collapseseven"
                aria-expanded="false" aria-controls="collapseseven">
                What makes transplants at Aster CMI unique?
              </h5>
              <hr class="accordion-content">
            </h4>
            <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven"
              data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li>
                    BMT is the treatment of choice for blood disorders like Thalassemia, Sickle Cell anemia, bone marrow
                    failure syndromes like Aplastic anemia, serious immune deficiencies and certain genetic metabolic
                    disorders.
                  </li>
                  <li>
                    It is also used to treat high risk cancers like some cases of Acute Lymphoblastic Leukemia, Acute
                    Myeloid
                    Leukemia, Multiple Myeloma and solid tumours like Neuroblastoma, Ewings Sarcoma and certain relapsed
                    cancers like Lymphomas
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testinominals -->
  <div>
    <p class="testimonials">Testimonials</p>
    <p class="t-content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at
      its layout. </p>
    <div class="row">
      <div class="col">
        <div class="card footer-card">
            <div class="card-body sample">
                <img src="../../assets/images/q.png" alt="not find" class="quotes">
                 <p class="john">John Doe</p>
                <p class="software-eng">Software Engineer</p>
                <p class="t-content1">It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking
                  at its layout.</p>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card footer-card">
            <div class="card-body sample">
                <img src="../../assets/images/q.png" alt="not find" class="quotes">
                <p class="john">John Doe</p>
                <p class="software-eng">Software Engineer</p>
                <p class="t-content1 mt-3">It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking
                  at its layout.</p>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card footer-card">
            <div class="card-body sample">
                <img src="../../assets/images/q.png" alt="not find" class="quotes">
                <p class="john">John Doe</p>
                <p class="software-eng">Software Engineer</p>
                <p class="t-content1">It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking
                  at its layout.</p>
            </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col"></div>
      <div class="col text-center">
        <button type="button" class="btn btn-default footer-button">Book An Appointment</button>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <!-- footer -->
  <div class="footer-style mt-3 my-3">
    <div class="row pt-4">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <img src="../../assets/images/facebook.png" alt="not found" class="mx-1">
        <img src="../../assets/images/instagram.png" alt="not found" class="mx-1">
        <img src="../../assets/images/you-tube.png" alt="not found" class="mx-1">
        <img src="../../assets/images/twitter.png" alt="not found" class="mx-1">
        <img src="../../assets/images/linkedin.png" alt="not found" class="mx-1">
      </div>
      <div class="col-3"></div>
    </div>
    <hr class="footer-line">
    <p class="aster">Aster CMI. All Rights Reserved</p>
  </div>
</div>
